.cover-developer-name{
	font-family: 'Ubuntu', sans-serif;
	color:darkgrey;
	border-bottom:3px solid lightgrey;
	display:inline-block;

}

.cover-arrow{
	transition: font-size 2s;
	font-size:40px !important;
	margin-left:40px;
}