.cover-container{
	z-index:3;
	display:flex;
	position:fixed;
	width:100%;
	height:100%;
	//background-image: url('../images/bg.jpg'); 
	//background-repeat: no-repeat;
	//background-attachment: fixed;
	//background-position: center;
	//background-size: cover;
}
.headline{
	font-size:70px;
	line-height:0px;
	transition: all 1s;
}
.cover-developer-name{
	display: flex;
	position:relative;
	z-index:2;
    text-align: center;
    flex-direction: column;
	//border:10px solid red;
	font-family: 'Ubuntu', sans-serif;
	color:darkgrey;
	//border-bottom:3px solid lightgrey;
	margin:auto;
}

.headline-arrow{
	position:relative;
	cursor:pointer;
}

.headline-code{
	display:none;
	color:red;
	font-size:19px;
	font-weight:bold;
}
.headline-left{
	text-align:left;
}
.headline-right{
	padding-left:102px;
}