.services{
	.section-title{
		//color:black;
	}
	//background-color:#FFC300;
	color:white;
	.services-list-container{
		display:flex;
		flex-direction:row;
		margin:auto;
		margin-left:50px;
		margin-right:50px;
		justify-content: space-between;
	}
	.service{
		display:flex;
		justify-content:center;
		background-color:transparent;
		width:300px;
		height:300px;
	}
	.service-desc{
		display: flex;
		flex-grow: 0.9;
		align-items: center;
		justify-content: space-evenly;
		padding:10px;
	}
}