@import 'cover-developer-name';
@import 'cover-developer-container';
@import 'cover';
@import 'animate';
html,body{
	height:100%;
	margin:0;
	padding:0;
}

body{
	overflow:hidden;
}
.container{
	height:100%;
}